<div>
  <h1>Follow Button</h1>
  <p>Add a follow button to your website so everyone can see how awesome your code is.</p>
</div>

<div>
  <label for="username">What is your GitHub user name?</label>
  <input id="username" type="text" value="yourusername" />
</div>

<div>
  <h3>Preview</h3>
  <a href="https://github.com/yourusername" class="github-follow-button">Follow On GitHub</a>
</div>

<div>
  <label for="html">Copy and paste this HTML into your website where you want your button to appear.</label>
  <textarea id="html"></textarea>
</div>

<script src="/index.js" type="text/javascript"></script>
<script src="/widgets.js" type="text/javascript"></script>
