<h1>Follow button for <a href="https://github.com" target="_blank">GitHub</a></h1>

<div id="content">
  <form>
    <label for="username">What is your <a href="https://github.com" target="_blank">GitHub</a> user name?</label>
    <input id="username" type="text" value="github" />
  </form>

  <div id="preview">
    <h3>This is your button</h3>
    <iframe src="/follow_button.html?user=github" allowtransparency="true" frameborder="0" scrolling="no" style="height:20px"></iframe>
    <p>Copy and paste this HTML into your website where you want your button to appear.</p>
    <textarea id="html"></textarea>
  </div>
</div>

<script src="/octophile.js" type="text/javascript"></script>
