body {
  font-family: helvetica,arial,freesans,clean,sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4183C4;
}

a:hover {
  text-decoration: underline;
}

#content {
  text-align: left;
  margin: 0 auto;
  width: 310px;
}

#username,#html {
  display: block;
  width: 300px;
}

#html {
  height: 80px;
}

form {
  padding-bottom: 1em;
}
