body {
  font-family: helvetica,arial,freesans,clean,sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4183C4;
}

a:hover {
  text-decoration: underline;
}

#username,#html {
  display: block;
  width: 300px;
}

#html {
  height: 80px;
}
